#Python

__pycache__/
*.py[cod]
*$py.class

#Virtual Environment

venv/
env/
ENV/

#VS Code

.vscode/

#Mac

.DS_Store

#Windows

Thumbs.db

#Logs

*.log

#Environment Variables

.env

#Python testing

.pytest_cache/
.hypothesis/

#Coverage

.coverage
htmlcov/

#Jupyter

.ipynb_checkpoints/

#Build files

build/
dist/
*.egg-info/
output/

#Ollama models (optional large files)

*.gguf
logs.jsonl